// This dingus makes use of HUSL and nib, so those should be provided to Stylus at compile time:
// stylus < input.styl > output.css -u /path/to/husl.js -u /path/to/nib/
// This dingus is intended to be tested with page--the-future.tpl.php. Remove stuff that isn't necessary for that.

@import 'nib'
size = 32px //font size
magic = #f9c200 //yellow
lightmagic = #f4d900 //lightyellow
darkmagic = #f9ae00 //darkyellow
hpad = 10px //horizontal padding in the #gnav .swatches
vpad = hpad - 7 //vertical padding therein
voff = 1px //vertical offset for the text
expand = 2px //how much wider the selected #gnav .swatch should be
darktext()
    color #333
whitetext()
    color #eee

@font-face {
    font-family: 'munroregular';
    // The following line doesn't work for the test site, because of cross-domain stuff.
    // src: url('http://sjsugamedev.com/sites/all/themes/trainhole/fonts/munro/munro-webfont.ttf') format('truetype');
    src: url('../fonts/munro/munro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// defaults for the preview version; not necessary in the full version
// .container_12
//     font-size 16px
//     line-height 1
//     color #333


// the logo background of that one div
.beegee 
    position relative
    //- background-image url(http://cl.ly/image/0X3y1D1T0Q29/content) //three colors
    //- background-image url(http://cl.ly/image/0P1h3U0p171i/content) //one color, normal brightness
    // background-image url(http://cl.ly/image/1X070n293f1H/content)
    background-image url(http://sjsugamedev.com/sites/all/themes/trainhole/images/logotype%202x%20short%20threelogos%20threecolors.png)
    background-position top
    scalefactor = 2 //size of pixels in logo
    width 118px * scalefactor
    height 27px * scalefactor
    top -5px * scalefactor
    left -3px * scalefactor
    cursor pointer
    // transition .25s background-image
    display: block;
    color: transparent;
    background-color: transparent;
.beegee:hover
    // background-image url(http://cl.ly/image/0X3y1D1T0Q29/content)
    // background-position center
.beegee:active
    background-position bottom
    color: transparent;
    background-color: transparent;
    //- transition none

.about-icon
    background-image url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/about%202x.png")
.join-icon
    background-image url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/join%202x.png")
.games-icon
    background-image url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/games%202x.png")
.events-icon
    background-image url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/events%202x.png")
.profile-icon
    background-image url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/profile%202x.png")
.login-icon
    background-image url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/login%202x.png")
.search-icon
    background-image url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/search%202x.png")
// .search-bottom-icon
//    background-image url("http://cl.ly/image/0f2g3l0Q1I1z/content")
// .search-top-icon
//    background-image url("http://cl.ly/image/3c0J1h3V050A/content")

// text within tabs; I think this can be merged into the previous block
#gnav .swatch
    -webkit-font-smoothing none

// selected
#gnav .swatch.chosen
    z-index 2
#gnav .swatch:active
    z-index 3
#gnav input.swatch:focus
    z-index 4
#gnav .swatch:active, 
#gnav .swatch.chosen,
#gnav .swatch:focus
    margin -1*expand -1*expand -1*expand -1*expand+2
    darktext()
    border-width expand



//transition animations for changing from colored to uncolored


instant_text_color_change = true


//become colored instantly
#gnav .swatch:active,
#gnav .swatch.chosen,
#gnav .swatch:focus,
#gnav .swatch:hover
    if instant-text-color-change
        transition 0s background-color, .25s width
    else
        transition 0s background-color, .25s width, 0 0 color, 0 0 background-position

// (icon too)
#gnav .swatch:active .gnav-icon,
#gnav .swatch.chosen .gnav-icon,
#gnav .swatch:focus .gnav-icon,
#gnav .swatch:hover .gnav-icon
    if !instant-text-color-change
        transition 0 0 background-position

// fade to grey slowly
#gnav .swatch,
#gnav:active .swatch.chosen
    if instant-text-color-change
        transition .25s background-color, .25s width
    else
        transition .25s background-color, .25s width, 0 .125s color, 0 .125s background-position

// (icon goes from black to white halfway through the slowly)
#gnav .swatch .gnav-icon,
#gnav:active .swatch.chosen .gnav-icon
    if !instant-text-color-change
        transition 0 .125s background-position




// hues whose lightness is low at full saturation should have white text at such times
#gnav .swatch.dark:active, 
#gnav .swatch.dark.chosen,
#gnav .swatch.dark:hover
    whitetext()

// white icons, too
#gnav .swatch.dark:active .gnav-icon, 
#gnav .swatch.dark.chosen .gnav-icon,
#gnav .swatch.dark:hover .gnav-icon
    background-position 0px 0px

// search, too
#gnav>input.swatch#st-search-input:focus,
#gnav>input.swatch#st-search-input:hover
    background-position 0px 0px
    whitetext()

// search placeholder text, too
#st-search-input.dark
    &:hover,
    &:focus
        &::-webkit-input-placeholder
            whitetext()
        &:-moz-placeholder
            whitetext()
        &::-moz-placeholder
            whitetext()
        &:-ms-input-placeholder
            whitetext()
        

// pretty self-explanatory
#gnav .swatch.leftmost
    border-left-width none
#gnav .swatch.leftmost:active, #gnav .swatch.leftmost.chosen
    border-left-width 2px

// color functions!
uncolored(hu)
    background-color huslp(hu,100,68)
deselected()
    box-shadow none
    border-color #333
colored(hu)
    background-color hsl(hu,100,50)
selected(hu)
    //black border thickness
    thickness = 2px
    box-shadow 0 0 5px hsl(hu,100,50), 0 5px 10px hsla(0,0,0,.5), - thickness 0 0 #333, thickness 0 0 #333
    border-color hsl(hu,100,50)

for index in 1 .. 6
    hu = 60 * index + 45 - 180
    
    //deselected
    #gnav .swatch:nth-child({index}), 
    #gnav:active .swatch:nth-child({index}).chosen
        uncolored(hu)
        
    //hovered or selected
    #gnav .swatch:nth-child({index}):hover,
    #gnav .swatch:nth-child({index}):active, 
    #gnav .swatch:nth-child({index}).chosen
        colored(hu)
        
    //completely selected
    #gnav .swatch:nth-child({index}):active, 
    #gnav .swatch:nth-child({index}).chosen
        selected(hu)

//deselected
#gnav #st-search-input
    uncolored(60 * 6 + 45 - 180)
//hovered or selected
#gnav #st-search-input:hover,
#gnav #st-search-input:focus
    colored(60 * 6 + 45 - 180)
//completely selected
#gnav #st-search-input:focus
    selected(60 * 6 + 45 - 180)

// normal tab, or newly deselected tab
#gnav .swatch, 
#gnav:active .swatch.chosen,
#st-search-input
    font-family munroregular
    tpad = vpad + voff
    bpad = vpad - voff
    padding tpad hpad bpad hpad
    display inline-block
    text-transform uppercase
    font-size size
    height size
    text-decoration none
    darktext()
    border-style solid
    border-left 2px #333 solid
    border-left-color #333
    border-width 0 0 0 2px
    border-radius 0
    position relative
    margin 0
    box-shadow none
    border-color #333
    line-height 1
    z-index 1
    white-space nowrap
    // The following causes weird problems in Firefox and Opera:
    // overflow hidden

//working around Opera quirks
x:-o-prefocus, #st-search-input
    top -1px

// normal icons, or newly deselected icons
#gnav .swatch .gnav-icon,
#gnav:active .swatch.chosen .gnav-icon
    width 18px
    height 18px
    display inline-block
    background-position 0px 18px
    bottom -2px
    position relative

//search-specific hardcore overrides
#gnav>input.swatch#st-search-input {
    outline: none;
    // margin: 0;
    // padding: 0;
    // box-shadow: none;
    // border: none;
    // background-color: transparent;
    background-image url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/search%20bigmargins%202x.png")
    background-position 0px -38px
    background-repeat no-repeat
    padding-left hpad + 22px
}
#st-search-input
    &::-webkit-input-placeholder
        darktext()
    &:-moz-placeholder
        darktext()
    &::-moz-placeholder
        darktext()
    &:-ms-input-placeholder
        darktext()
#st-search-input {
    width: 54px;
}
#st-search-input:focus {
    width: 108px;
}