@font-face {
  font-family: 'munroregular';
  src: url("http://sjsugamedev.com/sites/all/themes/trainhole/fonts/munro/munro-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.beegee {
  position: relative;
  background-image: url("http://sjsugamedev.com/sites/all/themes/trainhole/images/logotype%202x%20short%20threelogos%20threecolors.png");
  background-position: top;
  width: 236px;
  height: 54px;
  top: -10px;
  left: -6px;
  cursor: pointer;
  -webkit-transition: 0.25s background-image;
  display: block;
  color: transparent;
  background-color: transparent;
}
.beegee:hover {
  background-position: center;
}
.beegee:active {
  background-position: bottom;
  color: transparent;
  background-color: transparent;
}
nav>a>span {
  -webkit-font-smoothing: none;
}
nav>a.chosen {
  z-index: 2;
}
nav>a:active {
  z-index: 3;
}
nav>a:active,
nav>a.chosen {
  margin: -2px -2px -2px 0px;
  color: #333;
  border-width: 2px;
}
nav>a>div {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-position: 0px 18px;
  bottom: -2px;
  position: relative;
}
nav>a.dark:hover>div,
nav>a.dark:active>div {
  background-position: 0px 0px;
}
.about-icon {
  background-image: url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/about%202x.png");
}
.join-icon {
  background-image: url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/join%202x.png");
}
.games-icon {
  background-image: url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/games%202x.png");
}
.events-icon {
  background-image: url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/events%202x.png");
}
.profile-icon {
  background-image: url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/profile%202x.png");
}
.login-icon {
  background-image: url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/login%202x.png");
}
.search-icon {
  background-image: url("http://sjsugamedev.com/sites/all/themes/trainhole/images/tab%20bar%20icons/search%202x.png");
}
nav>a.dark:active,
nav>a.dark.chosen,
nav>a.dark:hover {
  color: #fff;
}
nav>a.leftmost {
  border-left-width: none;
}
nav>a.leftmost:active,
nav>a.leftmost.chosen {
  border-left-width: 2px;
}
nav>a:nth-of-type(1),
nav:active>a:nth-of-type(1).chosen {
  background-color: #ba97dd;
}
nav>a:nth-of-type(1):hover,
nav>a:nth-of-type(1):active,
nav>a:nth-of-type(1).chosen {
  background-color: #bf00ff;
}
nav>a:nth-of-type(1):active,
nav>a:nth-of-type(1).chosen {
  box-shadow: 0 0 5px #bf00ff, 0 5px 10px rgba(0,0,0,0.5), -2px 0 0 #333, 2px 0 0 #333;
  border-color: #bf00ff;
}
nav>a:nth-of-type(2),
nav:active>a:nth-of-type(2).chosen {
  background-color: #e18cb0;
}
nav>a:nth-of-type(2):hover,
nav>a:nth-of-type(2):active,
nav>a:nth-of-type(2).chosen {
  background-color: #ff0040;
}
nav>a:nth-of-type(2):active,
nav>a:nth-of-type(2).chosen {
  box-shadow: 0 0 5px #ff0040, 0 5px 10px rgba(0,0,0,0.5), -2px 0 0 #333, 2px 0 0 #333;
  border-color: #ff0040;
}
nav>a:nth-of-type(3),
nav:active>a:nth-of-type(3).chosen {
  background-color: #cf9c6d;
}
nav>a:nth-of-type(3):hover,
nav>a:nth-of-type(3):active,
nav>a:nth-of-type(3).chosen {
  background-color: #ffbf00;
}
nav>a:nth-of-type(3):active,
nav>a:nth-of-type(3).chosen {
  box-shadow: 0 0 5px #ffbf00, 0 5px 10px rgba(0,0,0,0.5), -2px 0 0 #333, 2px 0 0 #333;
  border-color: #ffbf00;
}
nav>a:nth-of-type(4),
nav:active>a:nth-of-type(4).chosen {
  background-color: #93b05f;
}
nav>a:nth-of-type(4):hover,
nav>a:nth-of-type(4):active,
nav>a:nth-of-type(4).chosen {
  background-color: #40ff00;
}
nav>a:nth-of-type(4):active,
nav>a:nth-of-type(4).chosen {
  box-shadow: 0 0 5px #40ff00, 0 5px 10px rgba(0,0,0,0.5), -2px 0 0 #333, 2px 0 0 #333;
  border-color: #40ff00;
}
nav>a:nth-of-type(5),
nav:active>a:nth-of-type(5).chosen {
  background-color: #2eba9c;
}
nav>a:nth-of-type(5):hover,
nav>a:nth-of-type(5):active,
nav>a:nth-of-type(5).chosen {
  background-color: #00ffbf;
}
nav>a:nth-of-type(5):active,
nav>a:nth-of-type(5).chosen {
  box-shadow: 0 0 5px #00ffbf, 0 5px 10px rgba(0,0,0,0.5), -2px 0 0 #333, 2px 0 0 #333;
  border-color: #00ffbf;
}
nav>a:nth-of-type(6),
nav:active>a:nth-of-type(6).chosen {
  background-color: #54b1d3;
}
nav>a:nth-of-type(6):hover,
nav>a:nth-of-type(6):active,
nav>a:nth-of-type(6).chosen {
  background-color: #0040ff;
}
nav>a:nth-of-type(6):active,
nav>a:nth-of-type(6).chosen {
  box-shadow: 0 0 5px #0040ff, 0 5px 10px rgba(0,0,0,0.5), -2px 0 0 #333, 2px 0 0 #333;
  border-color: #0040ff;
}
nav>a,
nav:active>a.chosen {
  font-family: munroregular;
  padding: 4px 10px 2px 10px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 32px;
  text-decoration: none;
  color: #333;
  border-style: solid;
  border-left: 2px #333 solid;
  border-left-color: #333;
  border-width: 0 0 0 2px;
  border-radius: 0;
  position: relative;
  margin: 0;
  box-shadow: none;
  border-color: #333;
  line-height: 1;
  z-index: 1;
}

